input#cs
{
	width: 150px;
	background: url("images/search.png") no-repeat scroll 5px 6px transparent;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    height: 22px;
    line-height: 1.2em;
    padding: 4px 10px 4px 28px;
}

#catablogsearch_response .catablogsearch_results
{
	background-color: white;
	border: 1px dotted #BBBBBB;
	margin-top: 4px;
	padding: 5px 0 12px 12px;
	position: absolute;
	max-width: 248px;
}

#catablogsearch_response .catablogsearch_result:hover
{
	box-shadow: 0 0 3px #000000;
}

#catablogsearch_response .catablogsearch_result
{
	background-color: #FFFFFF;
	box-shadow: 0 0 3px #BBBBBB;
	float: left;
	margin: 6px 10px 7px 0;
	padding: 7px 5px 4px 8px;
}

#catablogsearch_response .catablogsearch_result .catablogsearch_result_title
{
	text-align: center;
}
